In [1]:
person = {
    "first" : "Corey",
    "second" : "Schafer",
    "email": "coreymschafer@gmail.com"
}

In [3]:
people = {
    "first" : ["Corey"],
    "second" : ["Schafer"],
    "email" : ["coreymschafer@gmail.com"]
}

In [6]:
people = {
    "first" : ["Corey" , "harshit","Madhav"],
    "second" : ["Schafer","Dwivedi" ,"Mishra"],
    "email" : ["coreymschafer@gmail.com", 'harshitdwivedi2002@gmail.com', 'madhavmishra@gmail.com']
}

In [7]:
people['email']

['coreymschafer@gmail.com',
 'harshitdwivedi2002@gmail.com',
 'madhavmishra@gmail.com']

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)

In [10]:
df

     first   second                         email
0    Corey  Schafer       coreymschafer@gmail.com
1  harshit  Dwivedi  harshitdwivedi2002@gmail.com
2   Madhav   Mishra        madhavmishra@gmail.com

In [11]:
df['email']

0         coreymschafer@gmail.com
1    harshitdwivedi2002@gmail.com
2          madhavmishra@gmail.com
Name: email, dtype: object

In [12]:
type(df['email'])

pandas.core.series.Series

In [13]:
df.email

0         coreymschafer@gmail.com
1    harshitdwivedi2002@gmail.com
2          madhavmishra@gmail.com
Name: email, dtype: object

In [15]:
df[['second','email']]

    second                         email
0  Schafer       coreymschafer@gmail.com
1  Dwivedi  harshitdwivedi2002@gmail.com
2   Mishra        madhavmishra@gmail.com

In [16]:
df.columns

Index(['first', 'second', 'email'], dtype='object')

In [17]:
df.iloc[0]

first                       Corey
second                    Schafer
email     coreymschafer@gmail.com
Name: 0, dtype: object

In [18]:
df.iloc[[0,1]]

     first   second                         email
0    Corey  Schafer       coreymschafer@gmail.com
1  harshit  Dwivedi  harshitdwivedi2002@gmail.com

In [19]:
df.iloc[[0,1],2]

0         coreymschafer@gmail.com
1    harshitdwivedi2002@gmail.com
Name: email, dtype: object

In [20]:
df

     first   second                         email
0    Corey  Schafer       coreymschafer@gmail.com
1  harshit  Dwivedi  harshitdwivedi2002@gmail.com
2   Madhav   Mishra        madhavmishra@gmail.com

In [22]:
df.loc[0]

first                       Corey
second                    Schafer
email     coreymschafer@gmail.com
Name: 0, dtype: object

In [23]:
df.loc[[0,1]]

     first   second                         email
0    Corey  Schafer       coreymschafer@gmail.com
1  harshit  Dwivedi  harshitdwivedi2002@gmail.com

In [25]:
df.loc[[0,1] , ['email','second']]

                          email   second
0       coreymschafer@gmail.com  Schafer
1  harshitdwivedi2002@gmail.com  Dwivedi

In [26]:
df.set_index('email',inplace=True)

In [27]:
df

                                first   second
email
coreymschafer@gmail.com         Corey  Schafer
harshitdwivedi2002@gmail.com  harshit  Dwivedi
madhavmishra@gmail.com         Madhav   Mishra

In [28]:
df.index

Index(['coreymschafer@gmail.com', 'harshitdwivedi2002@gmail.com',
       'madhavmishra@gmail.com'],
      dtype='object', name='email')